.m-slots {
  min-width: 200px;
  min-height: 100px;
  background-color: #2c3e50;
  color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(122, 118, 118);
  padding: 20px;
  display: grid;
  color: #debf8a;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "header" "main" "footer";
  cursor: pointer;

  &-header {
    grid-area: header;
    display: grid;
    place-items: center;
    & > h1 {
      font-size: 40px;
      letter-spacing: 3px;
    }
  }

  &-main {
    grid-area: main;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color: #1b1b1b;
    padding: 1em;
    border-radius: 1em;

    .m-slots-item {
      background-color: #34495e;
      height: 100%;
      flex: 1;
      margin-right: 2em;
      position: relative;
      overflow: hidden;
      padding: 0;
      border-radius: 5px;
      &:last-child {
        margin-right: 0;
      }
      &__content {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 400%;
        width: 100%;
        padding: 0;
        margin: 0;
        .content-child {
          flex: 1;
        }
      }
    }
  }

  &-footer {
    grid-area: footer;
    display: grid;
    place-items: center;
    padding: 1em;

    & > .start-btn {
      padding: 1em 2em;
      border-radius: 2em;
      font-weight: bold;
      font-size: 1.5em;
      background-color: rgb(216, 230, 166);
      color: rgb(90, 83, 20);
      letter-spacing: 3px;
      outline: none;
      border: none;
      cursor: inherit;
      &:hover {
        background-color: rgb(238, 252, 190);
      }
      &:active {
        background-color: rgb(171, 187, 112);
      }
    }
  }
}
