@zindex-table-fixed: 10;

.tr-hover() {
  tbody,
  tfoot {
    tr:hover {
      background-color: @tr-hover-bg-color;
    }
  }
}
.fixed-mixin() {
  background-color: white;
  z-index: @zindex-table-fixed;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.m-table-wrap {
  position: relative;
  overflow: hidden;
  width: inherit;
  height: 100%;
  max-width: 100%;

  .fixed-left {
    .fixed-mixin();
    left: 0;
  }

  .fixed-right {
    .fixed-mixin();
  }

  .shadow {
    box-shadow: @shadow-base;
  }

  .overflow-x {
    overflow-x: scroll;
  }

  .overflow-y {
    overflow-y: scroll;
  }

  table {
    width: 100%;
    table-layout: fixed;

    tr {
      border-bottom: 1px solid @border-color;
      color: @content-color;
      font-size: 14px;
      transition: all @transition-time-quick ease-in-out;
      background-color: white;
    }

    .tr-hover();

    thead tr {
      background-color: @thead-bg-color;
    }

    th {
      color: @th-color;
    }

    td,
    th {
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      padding: 0;
      box-sizing: border-box;
    }
  }

  .m-table-cell {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    white-space: normal;
    text-overflow: ellipsis;

    span:first-of-type {
      vertical-align: middle;
    }

    &__sort {
      display: inline-flex;
      flex-direction: column;
      vertical-align: middle;
      padding-left: @padding-xxs;
      font-weight: bold;
      line-height: 1;

      .asc {
        vertical-align: bottom;
        transform: translateY(25%);
        &:hover {
          cursor: pointer;
          color: shade(@primary-color, 30%);
        }
      }

      .desc {
        transform: translateY(-25%);
        vertical-align: top;
        &:hover {
          cursor: pointer;
          color: shade(@primary-color, 30%);
        }
      }

      .sort-active {
        color: @primary-color;
      }
    }
  }

  .m-table-slot {
    display: none;
  }
}

.m-table {
  position: relative;
  overflow: hidden;
  padding: 0;

  &-body-wrap {
    overflow: hidden;
  }

  &-body {
    border-top: none !important;

    tr,
    td,
    th {
      border-top: none !important;
    }
  }
}

.is--stripe {
  tr:nth-of-type(even)[data-custom-row-class*="false"] {
    background-color: @tr-stripe-bg-color;
  }

  .tr-hover();
}

.is--border {
  border: 1px solid @border-color;

  thead {
    tr,
    th {
      border-top: none;
    }
  }

  td {
    border: 1px solid @border-color;
  }
  th {
    border: 1px solid @border-color;
  }
}
