@default-color: #fff;
@primary-color: #409eff;
@success-color: #67c23a;
@info-color: #909399;
@warning-color: #e6a23c;
@danger-color: #f56c6c;
@light-text-color: tint(@text-color, 20%);
@text-color: #5c6161;
@deep-text-color: shade(@text-color, 20%);
@title-color: #17233d;
@content-color: #515a6e;
@sub-color: #808695;
@disabled-color: #c5c8ce;
@border-color: #dcdee2;
@divier-color: #e8eaec;
@background-color: #f8f8f9;

// Shadow
@shadow-color: rgba(0, 0, 0, 0.2);
@shadow-base: @shadow-down;
@shadow-card: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
@shadow-up: 0 -1px 6px @shadow-color;
@shadow-down: 0 1px 6px @shadow-color;
@shadow-left: -1px 0 6px @shadow-color;
@shadow-right: 1px 0 6px @shadow-color;
