:root {
  /** 白色 **/
  --white: #ffffff;
  /** 黑色 **/
  --black: #000000;
  /** 波斯菊 **/
  --calliopsis: #ffc5cb;
  /** 橘红 **/
  --orenge-red: #d35400;
  /** 深红 **/
  --deep-red: #c0392b;
  /** 浅灰蓝 **/
  --light-blue: #88e6f0;
  /** 天蓝 **/
  --blue: #3498db;
  /** 深蓝 **/
  --deep-blue: #2980b9;
  /** 普蓝 **/
  --common-blue: #032d62;
  /** 橘色 **/
  --orange: #f39c12;
  /** 灰色 **/
  --gray: #bdc3c7;
  /** 浅草绿 **/
  --green: #2ecc71;
  /** 浅蓝绿 **/
  --light-blue-green: #1abc9c;
  /** 蓝绿 **/
  --blue-green: #16a085;
  /** 黄绿 **/
  --yellow-green: #7fc830;
  /** 草绿 **/
  --deep-green: #27ae60;
  /**土黄 **/
  --rhubarb: #f1c40f;
  /** 紫罗兰 **/
  --pink: #9b59b6;
  /** 深紫 **/
  --deep-pink: #8e44ad;
  /** 暗灰 **/
  --dark-gray: #2c3e50;
  /** 亮灰 **/
  --light-gray: #ecf0f1;
  /** 默认 **/
  --default: #fff;
  /** 主要 **/
  --primary: #409eff;
  /** 成功 **/
  --success: #67c23a;
  /** 信息 **/
  --info: #909399;
  /** 警告 **/
  --warning: #e6a23c;
  /** 危险 **/
  --danger: #f56c6c;
  /** 文本 **/
  --text: #5c6161;
}