@import url("./normalize.css");
@import url("./icon.css");
@import url("./animation.css");
@import url("./commom.css");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}


/** 常用颜色类型定义 **/


/** 普通状态下的颜色 **/

.blue,
.m-blue {
  background: var(--blue);
  color: white;
}

.default,
.m-default {
  background-color: var(--default);
  color: var(--text);
}

.primary,
.m-primary {
  background-color: var(--primary);
  color: white;
}

.success,
.m-success {
  background-color: var(--success);
  color: white;
}

.info,
.m-info {
  background-color: var(--info);
  color: white;
}

.warning,
.m-warning {
  background-color: var(--warning);
  color: white;
}

.danger,
.m-danger {
  background-color: var(--danger);
  color: white;
}


/** hover状态下的颜色 **/

.default:hover,
.m-default:hover {
  color: var(--blue);
  background-color: #ecf5ff;
}

.primary:hover,
.m-primary:hover {
  background-color: #66b1ff;
}

.success:hover,
.m-success:hover {
  background: #85ce61;
}

.info:hover,
.m-info:hover {
  background-color: #a6a9ad;
}

.warning:hover,
.m-warning:hover {
  background-color: #ebb563;
}

.danger:hover,
.m-danger:hover {
  background-color: #f78989;
}


/** active状态下的颜色 **/

.primary:active,
.m-primary:active {
  background: #3a8ee6;
}

.success:active,
.m-success:active {
  background: #5daf34;
}

.info:active,
.m-info:active {
  background-color: #909399;
}

.warning:active,
.m-warning:active {
  background-color: #cf9236;
}

.danger:active,
.m-danger:active {
  background-color: #dd6161;
}


/**禁止元素内部内容被选中*/

.unselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  /* 以下两个属性目前并未支持，写在这里为了减少风险 */
  -o-user-select: none;
  user-select: none;
}

.is-disabled,
.is-disabled:hover {
  cursor: url("ico/disabled.ico"), auto !important;
}


/**
 *	button部分
 */

.m-button {
  outline: none;
  border: 1px solid #ddd;
  padding: 1rem 2rem;
  transition: 0.1s;
  cursor: pointer;
  line-height: 1;
  white-space: nowrap;
  color: 606266;
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
  box-sizing: border-box;
  margin: 0;
  border-radius: 4px;
}


/************** button形状 *****************/

.m-button.circle {
  border-radius: 50%;
  padding: 12px;
}

.m-button.round {
  border-radius: 20px;
}


/************** button大小 *****************/

.m-button--default {
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

.m-button--huge {
  padding: 3rem 6rem;
  font-size: 3rem;
}

.m-button--large {
  padding: 2rem 4rem;
  font-size: 2rem;
}

.m-button--medium {
  padding: 0.7rem 1.5rem;
  font-size: 1.1rem;
}

.m-button--small {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.m-button--mini {
  padding: 0.4rem 0.6rem;
  font-size: 0.7rem;
}

.m-button-default {
  color: var(--text);
  background-color: white;
  border: 1px solid #bbb;
}

.m-button-default:hover {
  color: var(--blue);
  background-color: #ecf5ff;
}

.m-button-default:active {
  border: 1px solid var(--deep-blue);
}

.m-button-primary {
  color: var(--white);
  background-color: var(--primary);
}

.m-button-primary:hover {
  color: white;
  background-color: #66b1ff;
}

.m-button-primary:active {
  background: #3a8ee6;
}

.m-button-success {
  color: var(--white);
  background: var(--success);
}

.m-button-success:hover {
  background: #85ce61;
}

.m-button-success:active {
  background: #5daf34;
}

.m-button-info {
  color: var(--white);
  background-color: var(--info);
}

.m-button-info:hover {
  background-color: #a6a9ad;
}

.m-button-info:active {
  background-color: #909399;
}

.m-button-warning {
  background-color: var(--warning);
  color: white;
}

.m-button-warning:hover {
  background-color: #ebb563;
}

.m-button-warning:active {
  background-color: #cf9236;
}

.m-button-danger {
  color: var(--white);
  background-color: var(--danger);
}

.m-button-danger:hover {
  background-color: #f78989;
}

.m-button-danger:active {
  background-color: #dd6161;
}